<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}<title>Data Collection</title>{% endblock title %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body class="bg-dark">
        {% block upload %}
            <div class="card-body">
            {% if form.errors %}
                <p>{{ form.errors }}</p>
            {% endif %}
                <h2 class="card-title">UPLOAD FORM</h2>
                <form id="smoothed" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="field-table">
                      <span id="app-id-ajax-warn" style="color:#f03030;">Pre-existing data found for this Application Number. Re-submission will result in an overwrite.</span>
                        {{ form.as_table }}
                    </table>
                    <div class="sig sigWrapper">
                        <div class="signature-pad-wrapper">
                            <canvas id="signature-pad" class="pad" width=600 height=200></canvas>
                        </div>
                        <input type="hidden" name="output" class="output">
                    </div>
                    <div id="palm-rest">
                        <span id="palm-rest-text">PLEASE SIGN ABOVE</span>
                    </div>
                    <ul class="sigNav">
                        <button id="clear" type="button" class="clearButton btn btn-primary">Clear</button>
                        <button id="upload" type="submit" class="btn btn-primary" value="Upload">Upload</button>
                    </ul>
                </form>
                {% if message %}
                    <p style="color: {{ message_color }}; margin-top: 20px;"><strong>{{ message }}</strong></p>
                {% endif %}
            </div>
        {% endblock upload %}
        <script src="{% static 'js/jquery-3.5.0.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/numeric-1.2.6.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/bezier.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/jquery.signaturepad.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
    </body>
</html>
