<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}<title>Data Collection</title>{% endblock title %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body class="bg-dark">
        {% block upload %}
            <div class="card-body">
            {% if form.errors %}
                <p>{{ form.errors }}</p>
            {% endif %}
                <h2 class="card-title">UPLOAD FORM</h2>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="field-table">
                        {{ form.as_table }}
                    </table>
                     <div class="signature-pad-wrapper">
                        <canvas id="signature-pad" class="signature-pad" width=600 height=400></canvas>
                    </div>
                    <button id="save">Save</button>
                    <button id="clear">Clear</button>
                    <input type="submit" class="btn btn-primary" value="Upload">
                </form>
                {% if message %}
                    <p style="color: orange; margin-top: 20px;"><strong>{{ message }}</strong></p>
                {% endif %}
            </div>
        {% endblock upload %}
        <script src="{% static 'js/signature_pad.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
    </body>
</html>