:root {
    /* Put the same values in <canvas> in base.html, as well */
    /* Otherwise, signature_pad breaks */
    --h: 200px;
    --w: 600px;
    
    margin: 0;
    padding: 0;

    font-size: 15px;
}

html, body {
    /* position: fixed; For iPad OS - Safari */
    color: white;
    text-align: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-body {
    position: fixed;
    left: 12.5%;

    height: 70vh;
    width: 75vw;

    padding: 0;
    margin: 0 auto !important;
}

.card-title {
    margin: 10px 20px;
}

form {
    border: 1.5px #343C46 solid;
    border-radius: 10px;
}

th {
    text-align: left;
}

input[name="app_no"], input[name="name"] {
    width: 100%;
}

.field-table {
    margin: 15px auto 25px auto;
}

.btn {
    margin: 15px;
}

.table {
    text-align: center;

    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.signature-pad-wrapper {
    margin: 0 auto;
    width: var(--w);
    height: var(--h);

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.signature-pad {
    width: var(--w);
    height: var(--h);

    background: white;
    z-index: 100;

    border: 2px wheat inset;
}

#palm-rest {
    margin: 0 auto;
    height: 200px;
    width: var(--w);

    display: flex;

    border: 1px rgba(245, 222, 179, 0.5) dashed;
}

#palm-rest-text {
    margin: auto;
    text-align: center;

    font-family: monospace;
    color: gray;
    opacity: 0.5;
}