:root{
    /* Put the same values in <canvas> in base.html, as well */
    /* Otherwise, signature-pad breaks */
    --h: 200px;
    --w: 600px;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/FiraSans-Light.otf);
}

body, html {
    color: #fff;
    text-align: center;
    font-family: 'Fira Sans', Helvetica, sans-serif;
}

.card-body {
    position: fixed;
    left: 12.5%;
    height: 70vh;
    width: 75vw;
    padding: 0;
    margin: 0 auto!important;
}

/* Displays "message" (Check views.py) */
.card-body p {
    margin: 10px auto;
}

.card-title {
    margin: 30px 20px;
    font-size: 2rem;
    line-height: 0;
    letter-spacing: .022em;
    font-weight: 100;
    font-style: normal;
}

form {
    border: 1.5px #343c46 solid;
    border-radius: 10px;
}

th {
    text-align: left;
}

label {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .04em;
    font-weight: 500;
    margin: 0;
}

input[name=app_no], input[name=name], select[name=blood_group] {
    width: 100%;
    margin-bottom: 5px;
}

.field-table {
    margin: 15px auto 25px auto;
}

.btn {
    margin: 15px;
}

.table {
    text-align: center;
}

.sigNav {
    margin: 0;
    padding: 0;
}

.signature-pad-wrapper {
    margin: 0 auto;
    width: var(--w);
    height: var(--h);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.signature-pad {
    width: var(--w);
    height: var(--h);
    background: #fff;
    z-index: 100;
    border: 2px wheat inset;
}

#palm-rest {
    margin: 0 auto;
    height: 200px;
    width: var(--w);
    display: flex;
    border: 1px rgba(245,222,179,.5) dashed;
}

#palm-rest-text {
    margin: auto;
    text-align: center;
    font-family: monospace;
    color: gray;
    opacity: .5;
    -webkit-user-select: none;
    user-select: none;
}
